<div class="container mt-3">
  <div class="col-md-10 mx-auto pt-4">
    <p class="title">注文履歴一覧</p>

    <table class="border-top w-100 mt-3">
      <tr class="border-bottom">
        <th>購入日時</th>
        <th>購入者</th>
        <th>注文個数</th>
        <th>注文ステータス</th>
      </tr>
      <tr class="border-bottom">
        <% @orders.each do |order| %>
        <td>
          <%= order.created_at %>
        </td>
        <td>
          <%= order.name %>
        </td>
        <td>
          <!--??-->
          <%= order.order_details.amount %>
        </td>
        <td>
          <!--??-->
          <%= order.order_status %>
        </td>
        <% end %>
      </tr>
    </table>
  </div>

</div>