<div class="container mt-3">

  <% @orders.each do |order| %>
    <%= order.created_at %>
    <%= order.name %>
    <!--??-->
    <%= order.order_details.amount %>
    <%= order.order_status %>
    <% binding.pry %>
  <% end %>
    
</div>