<div class="container mt-3">
  <div class="col-md-8 mx-auto">
    <p class="title">管理者用ログイン</p>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <table class="w-75 mx-auto">
        <tr>
          <td class="w-25 py-2">メールアドレス</td>
          <td><%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-sm" %></td>
        </tr>
        <tr>
          <td class="py-2">パスワード</td>
          <td><%= f.password_field :password, autocomplete: "current-password", class: "form-control form-control-sm" %></td>
        </tr>
        <tr>
          <td></td>
          <td class="pt-4"><%= f.submit "ログイン", class: "btn btn-primary btn-sm px-4" %></td>
        </tr>
      </table>
    <% end %>

  </div>
</div>