<div class="container mt-3">
  <div class="col-md-8 mx-auto">
    <p class="title">管理者用ログイン</p>

    <div class="form-group col-8 mx-auto mt-4">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field d-flex mb-3">
          <label>メールアドレス</label>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-sm w-75 ml-auto" %>
        </div>

        <div class="field d-flex mb-3">
          <label>パスワード</label>
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control form-control-sm w-75 ml-auto" %>
        </div>

        <div class="actions text-center">
          <%= f.submit "ログイン", class: "btn btn-primary btn-sm px-4" %>
        </div>
      <% end %>

    </div>
  </div>

</div>