/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';

body {
  margin: 10px 20px;
}
.header {
  height: 15vh;
}
.container {
  height: 75vh;
}

footer {
  height: 10vh;
}

// 共通
.error {
  color: red;
}
.logo {
  width: 100px;
  height: 70px;
}
.title {
  display: inline-block;
  background-color: lightgray;
  padding: 0 20px;
}
.table-title {
  background-color: rgb(244, 239, 232);
}
.table-height th {
  padding: 10px 0;
}
.table-height td {
  padding: 10px 0;
}
.btn a {
  text-decoration: none;
  color: black;
}
 // admin/customers/index
.customer-index-table th:nth-child(3) {
  width: 40%;
}
// admin/customers/show
.customer-show-table td:nth-child(1) {
  width: 30%;
}
// admin/customers/edit
.customer-edit-table td:nth-child(1) {
  width: 25%;
}
 // admin/items/index
.create_items {
  top: 15px;
  right: 20px;
  width: 2.3rem;
  height: 2.3rem;
  text-decoration: none;
  font-size: 30px;
  line-height: 30px;
  border-radius: 50%;
  box-shadow: 3px 3px gray;
  color: gray;
}
// admin/orders/show

.admin-orders-show1 tr > td:nth-child(1) {
  width: 25%;
}
.admin-orders-show2 {
width: 70%;
}
.admin-orders-show2 tr {
  height: 50px;
}
.admin-orders-show2 tr > th:first-child {
  width: 30%;
}
.admin-orders-show2 tr > th:nth-child(2) {
  width: 15%;
}
.admin-orders-show2 tr > th:nth-child(3) {
  width: 10%;
}
.admin-orders-show2 tr > th:nth-child(4) {
  width: 15%;
}
.admin-orders-show3 {
  width: 30%;

}
.admin-orders-show3 table {
  position: absolute;
  bottom: 0;
  right: 5%;
}
.admin-orders-show3 tr > td:last-child {
  width: 50%;
}
.admin-orders-show3 td {
  height: 50px;
}

// customers/registration
.sign-up-th1 {
  width: 35%;
}
.sign-up-th2 {
  width: 30%;
}
.sign-up-th3 {
  width: 30%;
}
.sign-up-height td {
  padding: 5px 0;
}

// public/homes/top
.top-visual {
  width: 70%;
  height: 35vh;
  background-image: url(bg_cake.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;

}
.top-visual-message {
  width: 65%;
  height: 50%;
  padding: 20px 0;
  background-color: rgba(0,0,0,0.5);
  color: white;
}

// public/homes/about
.about h1 {
  font-size: 80px;
}
.about p {
  font-size: 23px;
}
.about-visual {
  width: 60%;
  height: 28vh;
  background-image: url(bgabout.jpg);
  background-size: cover;
  background-position: center;
}

// public/items/index
.items-index {
  width: calc(25%-10px);
  padding: 5px 5px;
  margin: 5px 5px;
  background-color: lightgray;
}
// public/cart_items/index
.cart-table th {
  padding-left: 5px;
}
.cart-table td {
  padding: 5px 0 5px 5px;
}
.cart-total {
  width: 300px;
  height: 50px;
}
.cart-total div {
  width: 150px;
  line-height: 50px;
}

// public/customers/show
.customer-table td {
  padding: 10px 5px;
}
.customer-table td:nth-child(odd) {
  background-color: rgb(244, 239, 232);
}

// public/customers/edit
.customer-edit-table tr > td:nth-child(1), td:nth-child(2),td:nth-child(3) {
  width: 180px;
}
.customer-edit-table td {
  padding: 5px 10px;
}

// public/addresses/index
.address-table {
width: 75%;
}
.address-table th:nth-child(2) {
  width: 40%;
}
.address-table th:nth-child(odd) {
  width: 15%;
}
.address-table th {
  padding: 10px 5px;
}
.address-table td {
  padding: 10px 5px;
}
.address-table tr > td:nth-child(2) {
  width: 45%;
}
// public/addresses/_address_form
.address-form tr > td:nth-child(2) {
  width: 35%;
}

// public/orders/confirm
.order-confirm-table {
  width: 80vh;
}
.order-confirm-table tr {
  height: 55px;
}
.order-confirm-table1 {
  width: 40%;
}
.order-confirm-table2 {
  width: 20%;
}
.order-confirm-table3 {
  width: 20%;
}
.order-confirm-table4 {
  width: 20%;
}
.total-table {
  width: 20%;
}
.total-table td {
  padding-left: 5px;
}
.total-table tr {
  height: 55px;
}
.total-table1 {
  width: 50%;
}
// public/orders/index
.order-index-table {
  line-height: 1;
}
.order-index-table thead {
  height: 55px;
}
.order-index-table tr {
  min-height: 55px;
}
.order-index-table th:nth-child(2) {
  width: 40%;
}
.order-index-table td, th {
  padding-left: 5px;
}
// public/orders/show
.order-show-table1 td {
  padding: 14px 5px;
  line-height: 1;
}
.order-show-table1 tr > td:first-child {
  background-color: rgb(244, 239, 232);
}
.order-show-table1 td:nth-child(2) {
  width: 75%;
}
.order-show-table2 td {
  padding: 10px 5px;
}
.order-show-table2 tr > td:first-child {
  width: 60%;
  background-color: rgb(244, 239, 232);
}
.order-show-table3{
  width: 70%;
}
.order-show-table3 th {
  padding: 10px 20px 10px 5px;
}
.order-show-table3 td {
  padding: 10px 20px 10px 5px;
}
.order-show-table3 thead > tr {
  background-color: rgb(244, 239, 232);
}
.order-show-table3 th:first-child {
  width: 55%;
}